/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #01161a;
    
  }
  
  /* Quote Section */
  .quote-section {
    background-color: #011e24;
    text-align: center;
    padding: 20px 10px;
    
  }
  
  .quote-section p {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
    margin-bottom: 10px;
  }
  
  .quote-section span {
    font-size: 1rem;
    color: #afadad;
  }
  
  /* About Section */
  .about-section {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #01161a;
    box-shadow: 0 0 5px #00e1ff,
                0 0 20px #00e1ff;
  }
  
  .about-container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .about-container img {
    width: 300px;
    border-radius: 8px;
  }
  
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: white;
  }
  
  .about-text p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: white;
  }
  

  
  /* Reviews Section */
  .reviews-section {
    background: linear-gradient(to right, #012736, #01161a);
    text-align: center;
    padding: 40px 20px;
  }
  
  .reviews-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .reviews-section blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(175, 156, 156);
    margin: 0 auto 10px;
    max-width: 800px;
  }
  

  
  
  /* Footer Section */
  .contact-section {
    background-color: #01161a;
    text-align: center;
    padding: 40px 20px;
  }
  
  .contact-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: white;
  }
  
  .contact-section p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: rgb(175, 156, 156);
  }
  


  .bots {
    padding: 0 30%;
    text-align: center;
  }
  
  .bbtn {
    font-family: sans-serif;
    font-size: 15px;    
    font-weight: bold;
    background: #00c3ff;
    width: 50px;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0 , 0, 0.1);
  }
  
  .bots :hover{
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.5);
  }
  